#game {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background-color: black;
    color: antiquewhite; 
}

header {
  width: 100%;  
  overflow: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 30px;
  border: 1px solid #dddddd;
  background: black;
  text-align: center;
}

footer {
    border-top: 8px solid rgb(66, 7, 66);
    background: black;
    text-align: center;
    line-height: 80px;

@@media (min-width: 980px) {
    .container {  
      max-width: 960px;
    }
    .content_container {
        margin-top: 110px;
        margin-bottom: 110px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 960px;
    }
    .content_container {
        margin-top: 110px;
        margin-bottom: 110px;
    }
  }
  
  @media (min-width: 640px) {
    .container {
      max-width: 960px;
    }
    .content_container {
        margin-top: 110px;
        margin-bottom: 110px;
    }
  }